:root {
    --img-width: 150px;
    --block: 24px;
    --inline: 16px;
    --margin-bottom: 4px;
    --border-radius: 0.2em;
    --clr-black: #000;
    --clr-white: #fff;
    --clr-gray: #ebebeb;
    --clr-dark-grey: #6b6b6bb0;
    --clr-green: #00674f;
}
